{% extends 'base/base.html' %}
{% block title %}Workout Plan{% endblock %}

{% block content %}
<h2 class="fw-bold mb-3">Your Workout Plan</h2>

{% if plan %}
<div class="card shadow-sm">
  <div class="card-body">
    <h4 class="fw-bold">{{ plan.title }}</h4>

    <ul class="list-group list-group-flush mt-3">
      {% for exercise in plan.exercises.all %}
        <li class="list-group-item">
          <strong>{{ exercise.name }}</strong>
          <p class="text-muted mb-0">
            {{ exercise.description }}
          </p>
        </li>
      {% endfor %}
    </ul>
  </div>
</div>
{% else %}
<p>No workout plan available.</p>
{% endif %}

{% endblock %}