{% extends 'base/base.html' %}
{% load static %}
{% block title %}Create Account{% endblock %}

{% block content %}
<div class="row justify-content-center">
  <div class="col-md-6">
    <div class="card shadow-lg border-0">
      <div class="card-body p-4">

        <h3 class="text-center fw-bold mb-3">Start Your Fitness Journey</h3>
        <p class="text-center text-muted mb-4">
          Create your personalized fitness profile
        </p>

        <form method="post">
          {% csrf_token %}

          <h6 class="fw-bold">Account Details</h6>
          {{ form.username.label_tag }} {{ form.username }}
          {{ form.password1.label_tag }} {{ form.password1 }}
          {{ form.password2.label_tag }} {{ form.password2 }}

          <hr>

          <h6 class="fw-bold">Fitness Information</h6>
          {{ form.age.label_tag }} {{ form.age }}
          {{ form.height.label_tag }} {{ form.height }}
          {{ form.weight.label_tag }} {{ form.weight }}
          {{ form.goal.label_tag }} {{ form.goal }}

          <button class="btn btn-dark w-100 mt-4">
            Create Account
          </button>
        </form>

        <p class="text-center mt-3">
          Already have an account?
          <a href="/users/login/">Login</a>
        </p>

      </div>
    </div>
  </div>
</div>
{% endblock %}